*{
  margin: 0;
  padding: 0;
}
.appvide{
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 80%;
  margin-top: 10px;
}

.appcanvas{
  position: absolute;
  top: 100px;
  width: 317px;
  border-radius: 10px;
  overflow: hidden;
}
h1{
  margin-top: 50px;
}
h2{
  margin-top: 20px;
  background-color: rgb(30, 30, 30);
  padding: 10px;
  border-radius: 5px;
}
.myapp{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.videoR{
  width: 100%;
  height: 100%;
}

.light {
  background-color: #fff;
  color: #333;
}

.dark {
  background-color: #333;
  color: #fff;
}

.inp{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.inp div{
  margin-top: 10px;
}

.icon{
  width: 40px;
  height: 40px;
  border-radius: 50px;
}